@{
    Page.Title = "Title goes here";
    Layout = "_Layout.cshtml";
}

<div>
    <p>This is a test page for razor style web pages</p>
    @{
        var _svc = new AppService();
        var news = _svc.GetNewsItems();
        
    }
    <ul>
        @foreach (var item in news)
        {
            <li>@item.Headline</li>
        }
    </ul>

</div>