#header {
    width: 100%;
    
}
#header td {
    padding: 10px;
    
}

body {
    background-color:#eee;
    margin:0px;
}

.newsbox .frame {
    height: 100px;      /* equals max image height */
    line-height: 100px;
    width: 150px;
    display: inline-block;
    text-align: center; margin: 1em 0;
}
.newsbox img {
    vertical-align: middle;
}

h1
{
    font-size:20px;
    font-weight:normal;
    color:#1D3F1E;
    color:#990000;
    margin-top: 0px;
    background-color: #eee;
}
h2
{
    font-size: 15px;
    font-weight: normal;
    color: #900;
    padding-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid #eee;
    margin-top: 10px;
}
a
{
    color:#1D3F1E;
}
p {
    margin-top: 3px;
}
ul.link-list
{
    padding-top:0px;
}
.link-list li
{
    padding:5px;
}
.Fixture {}

.Social {}

.Coach {}

.errormessage {color: #FF0000; font-weight: bold}

DIV.textbox {margin-left: 10px; margin-right: 10px; font-family: "Arial",sans-serif; font-size: 12px}

A.scroll-link {padding-right: 20px; color: #000000; text-decoration: none}

A.scroll-link:hover {padding-right: 20px; color: #000000; text-decoration: underline}

A.static-link {padding-right: 20px; color: #105010}

A.Off-scroll-link {padding-right: 20px; color: #660099; text-decoration: none}

A.Off-static-link {padding-right: 20px; color: #660099}

A.heading {color: #990000; font-weight: bold; line-height: 120%; font-size: large}

SPAN.date {color: #666666; display: block}
SPAN.date-added {color: #999;float:right;font-size: 12px;}

SPAN.date_hide {display: none}

.boxheading {color: #000000;font-weight: bold;padding-bottom: 5px;}

TABLE.floatbox {float: left; color: #CCCCCC; font-family: "Arial"; font-size: 100%; background-color: #FFFFFF; border: groove 2px; margin-right: 10px; margin-bottom: 5px}

TABLE.floatboxR {float: right; color: #CCCCCC; font-family: "Arial"; font-size: 100%; background-color: #FFFFFF; border: groove 2px; margin-right: 10px; margin-bottom: 5px}

.newsbox {text-align: center;  color: #CCCCCC; font-family: "Arial"; font-size: 100%; background-color: #FFFFFF; border: groove 2px; margin-bottom: 5px}
.newsbox a{ margin: 5px; }

TD.bannerL {background: #FFFFFF}

TD.bannerR {background: #FFFFFF}

.bannerAlert {background: #FFCC00; text-align: center; font-weight: bold; vertical-align:middle}

TD.navlineL {background: url(navlineL.jpg)}

TD.navlineM {background: url(navlineM.jpg)}

TD.navlineR {background: url(navlineR.jpg)}

TD.tableheading {color: #FFFFFF; font-weight: bold; line-height: 120%; vertical-align: top; background: #306330; text-indent: 2px}

TD.home {line-height: 120%; vertical-align: bottom; background: #CCCCCC; text-indent: 1px}
TD.tablecontent {line-height: 120%; vertical-align: bottom; background: #CCCCCC; text-indent: 1px}

TD.tablecontent_curr {line-height: 120%; vertical-align: bottom; background: #CCCCCC; text-indent: 1px; border-width: 2px; border-style: solid; border-color:#000000}

TD.tablecontent1 {line-height: 120%; vertical-align: bottom; background: #99CC99; text-indent: 1px}

TD.away{line-height: 120%; vertical-align: bottom; background: #99CC99; text-indent: 1px}

TD.Social {line-height: 120%; vertical-align: bottom; background: #FFCC66; text-indent: 1px}

TD.tablecontent3 {line-height: 120%; vertical-align: bottom; background: #FFFFFF; text-indent: 1px}

TD.tablecontent4 {line-height: 120%; vertical-align: bottom; background: #CC99CC; text-indent: 1px}

.bcdcontent0 {background: #FFFFDD; vertical-align: top}

.bcdcontent1 {background: #DDFFDD; vertical-align: top}

.bcdcontent0expired {background: #DDDDDD; vertical-align: top; color: #FF0000}

.bcdcontent1expired {background: #CCCCCC; vertical-align: top; color: #FF0000}

.structurecontent1 {color: #000000; line-height: 120%; vertical-align: top; background: #66FF66; text-indent: 1px; border-width: 2px; border-style: solid; border-color:#000000}

.structurecontent2 {color: #000000; line-height: 120%; vertical-align: top; background: #FFCC66; text-indent: 1px; border-width: 2px; border-style: solid; border-color:#000000}

.structurecontent3 {color: #000000; line-height: 120%; vertical-align: top; background: #CCCCCC; text-indent: 1px; border-width: 2px; border-style: solid; border-color:#000000}

.structurelineL {border-left: 3px solid #CCCC33}

.structurelineB {border-bottom: 3px solid #CCCC33}

.structurelineBL {border-bottom: 3px solid #CCCC33; border-left: 3px solid #CCCC33}

/* CoolMenus 4 - default styles - do not edit */
.clCMAbs{position:absolute; visibility:hidden; left:0; top:0}
/* CoolMenus 4 - default styles - end */
  
/*Style for the background-bar*/
.clBar{position:absolute; width:10; height:10; background-color:#cccccc; layer-background-color:#cccccc; visibility:hidden}

/*Styles for level 0*/
.clLevel0,.clLevel0over{position:absolute; padding:3px; font-family:arial,helvetica; font-size:12px; font-weight:bold;}
.clLevel0{background: url(navtab2.jpg); color:#333333;}
.clLevel0over{background: url(navtab_g.jpg); color:#333333; cursor:pointer; cursor:hand; }
.clLevel0border{position:absolute; visibility:hidden; background-color:#eeeeee; layer-background-color:#000000}

/*Styles for level 1*/
.clLevel1, .clLevel1over{position:absolute; padding:2px; font-family:arial,helvetica; font-size:11px; font-weight:bold}
.clLevel1{background: #333333; color:#FFFFFF;}
.clLevel1over{background: #999999; color:#FFFFFF; cursor:pointer; cursor:hand; }
.clLevel1border{position:absolute; visibility:hidden; background-color:#FFFFFF; layer-background-color:#333333}

/*Styles for level 2*/
.clLevel2, .clLevel2over{position:absolute; padding:2px; font-family:arial,helvetica; font-size:11px; font-weight:bold}
.clLevel2{background: #666666; color:#FFFFFF;}
.clLevel2over{background: #999999; color:#FFFFFF; cursor:pointer; cursor:hand; }
.clLevel2border{position:absolute; visibility:hidden; background-color:#FFFFFF; layer-background-color:#666666}


/*--------------------t01-------------------*/

.t01 {
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	margin-top:10px;
	color: #FFFFFF;
	font:13px Georgia;
}
p.t01 {line-height: 150%}

.t01 A:link {text-decoration: none; color: #FFFFFF;}
.t01 A:visited {text-decoration: none; color: #FFFFFF;}
.t01 A:active {text-decoration: none; color: #FFFFFF;}
.t01 A:hover {text-decoration: none; color: #e8e126;}




/*--------------------02-------------------*/

.t02 {
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	margin-top:10px;
	color: #666667;
	font:13px Georgia;
}
p.t02 {line-height: 170%}

.t02 A:link {text-decoration: none; color: #5e1c24;}
.t02 A:visited {text-decoration: none; color: #5e1c24;}
.t02 A:active {text-decoration: none; color: #5e1c24;}
.t02 A:hover {text-decoration: none; color: #315031;}

ul.nav-menu
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #1D3F1E;
    overflow: hidden;
    white-space: nowrap;
    min-width: 900px;
}
    ul.nav-menu a
    {
        display: block;
        width: 100px;
        text-align: center;
        background-color: #1D3F1E;
        padding: 5px;
        color: #FFF;
        text-decoration: none;
        font-family: arial;
    }
    ul.nav-menu a:hover
    {
        background-color: #0C553B;
    }
    ul.nav-menu li
    {
        float: left;
    }

    
.links-menu ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FFF;
    font-size:15px;   
    line-height:18px;
    white-space: nowrap;
    border-bottom: 1px solid #AAA;
    height:26px;
}
.links-menu > ul
{
        padding-left:8px;
            min-width: 900px;
}
.links-menu
{
    background-color:#FFF;

}
    .links-menu ul a
    {
        display: block;
        width: 80px;
        text-align: center;
        background-color: #FFF;
        padding: 4px;
        color: #1D3F1E;
        text-decoration: none;
        font-family: arial;
    }
    .links-menu ul a:hover
    {
        background-color: #0C553B;
        color:#FFF;
    }
    .links-menu>ul>li
    {
        display:block;
        float: left;
        position:relative;
        
    }
li ul
{
    display: none;
   

}
    .links-menu li ul li a
    {
        text-align:left;
        padding-left:13px;
        width:140px;
    }
li:hover ul {
    display: block; 
    position:absolute;
}
.photobox{
    background-color: #333333;padding: 5px;
}
.photobox img{
    margin: 5px;
    width: 220px;
}

.league {
    color: #990000;
    font-weight: bold;
}
.EditGrid {
    
}
.EditGrid td{
    padding: 3px;
}

.admin-toolbar {
    background-color: white;
    border-bottom: 1px solid black;
    padding: 3px;
    margin-bottom: 5px;
}
.selected-row {
    background-color: rgb(255, 251, 205);
}

.news-content {
    
    margin-bottom: 5px;
}
.expando a{
    color:#999;
    text-decoration:none;
}
.expando a:hover{
    text-decoration:underline;
}